@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {

  /* Font families */
  --font-header: "Inter",
    sans-serif;
  --font-global: "Poppins",
    sans-serif;

  /* Font sizes (using rem for scalability) */
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;
  --fs-3xl: 1.875rem;
  --fs-4xl: 2.25rem;
  --fs-5xl: 3rem;

  /* Line heights */
  --lh-xs: 1;
  --lh-sm: 1.25;
  --lh-base: 1.5;
  --lh-lg: 1.75;
  --lh-xl: 2;
}

html {
  font-size: 100%;
}
body {
  @apply font-global px-4 md:px-8 dark:bg-gray-900 bg-white text-gray-900 dark:text-gray-300 text-center;
}

h1 {
  @apply font-header text-5xl/[1.5] mb-4;
}
p {
  @apply text-lg/[1.5];
}
button {
  @apply w-[100px] bg-indigo-500 text-white cursor-pointer text-2xl px-2 py-1 rounded ml-2;
}
.form {
  @apply flex justify-center mb-10;
}
input {
  @apply w-[400px] border-none outline-none text-gray-300 dark:text-gray-900 dark:bg-white bg-gray-900 rounded px-2 py-2 ;
}
.todo-list-wrapper {
  @apply flex items-center flex-col;
}
.todo-list {
  @apply flex justify-between w-[700px] gap-2 py-5 border-b border-gray-700;
}
.todo-list p {
  @apply text-left grow-0 shrink-0 basis-[450px];
}
.button-wrapper button {
  @apply px-2 py-1 text-sm w-[60px];
}

.button-wrapper button.delete {
  @apply bg-red-400;
}
.button-wrapper button.up {
  @apply bg-green-400;
}
.button-wrapper button.down {
  @apply bg-slate-700
}